body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

button {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  color: whitesmoke;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

button:active {
  background-color: rgb(71, 107, 173);
}

button:hover {
  border: 2px solid rgb(53, 53, 53);
}

#search-button {
  background-color: gray;
}

.navbar {
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
}

.icon {
  height: 50px;
  width: 50px;
}
/* temp section for page layout */
.col-3 {
  background-color: lightblue;
}
#city-summary {
  background-color: lightgoldenrodyellow;
}
#five-day-deck {
  background-color: lightgrey;
}
